* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.countcont {
    height: 40rem;
    width: 25rem;
  background-color: #D6FB61;
  margin: auto;
    margin-top: 3rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box {
    height: 30%;
    width: 100%;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns {
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btns button {
    height: 3rem;
    width: 9rem;
    border-radius: 2rem;
    border: 1px solid grey;
    background-color: #39B1D1;
    cursor: pointer;
    font-size: 2rem;
}
.reset {
    height:3rem ;
    width: 19rem;
    border-radius: 2rem;
    background-color: #7AE2CF;
     border: 1px solid grey;
     cursor: pointer;
     font-size: 1rem;
     text-decoration: none;
     text-transform: capitalize;

}


